torch==2.0.0
torchvision==0.15.1
opencv-python
pdf2image==1.16.3
streamlit
easyocr
pytesseract
matplotlib
Augmentor
editdistance
#openmim==0.3.9
#mmengine==0.10.1
#mmcv==2.0.1
#mmdet==3.1.0
#mmocr==1.0.1
#Pillow==10.1.0